<a href="https://colab.research.google.com/github/paviayyala/AIML-Lab/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1. Hello World
print("Hello, Lets Learn Python!")

Hello, Lets Learn Python!

In [3]:
#2. Simple Calculator

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Enter first number: 1
Enter second number: 2
Sum: 3.0
Difference: -1.0
Product: 2.0
Quotient: 0.5

In [4]:
#3. Even or Odd
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [5]:
#4. Largest of Three
a = int(input("A: "))
b = int(input("B: "))
c = int(input("C: "))
if a >= b and a >= c:
    print("Largest is A:", a)
elif b >= c:
    print("Largest is B:", b)
else:
    print("Largest is C:", c)

A: 1
B: 4
C: 2
Largest is B: 4

In [6]:
#5. Factorial (Using Loop)
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial is", fact)

Enter a number: 18
Factorial is 6402373705728000

In [7]:
#6. Fibonacci Sequence
n = int(input("How many terms? "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

How many terms? 6
0 1 1 2 3 5

In [8]:
#List Operations
nums = [10, 20, 30, 40, 50]
print("List:", nums)
print("Sum:", sum(nums))
print("Max:", max(nums))
print("Reversed:", list(reversed(nums)))

List: [10, 20, 30, 40, 50]
Sum: 150
Max: 50
Reversed: [50, 40, 30, 20, 10]

In [9]:
#Dictionary Example

student = {"name": "Alice", "age": 22, "marks": 87}
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
age: 22
marks: 87